{
    "presets": [
        "env",
        "preact"
    ],
    "plugins": [
        "transform-decorators-legacy",
        "transform-class-properties",
        [
            "transform-object-rest-spread",
            {
                "useBuiltIns": true
            }
        ],
        [
            "transform-react-jsx",
            {
                "pragma": "h"
            }
        ]
    ]
}